/*
Theme Name: Rotate Theme
Template: astra
Author: Caroline og Helena
Version: 1.0.0
Description: Stylish Child Theme based on Astra
*/

.card {
    font-family: var(--fontFamiliesFontSans);
    cursor: pointer;
}

.card img {
    width: 100%;
    height: auto;
  }

.card body_primary {
    margin-top: var(--spaceCardStackMd);
    margin-bottom: var(--spaceCardStackNone);
    font-size: var(--body_primary);
  }

.card body_secondary {
    margin-top: var(--spaceCardStackSm);
    margin-bottom: var(--spaceCardStackMd);
    font-size: var(--body_secondary);
  }

  .card color {
    margin-top: var(--spaceCardStackSm);
    margin-bottom: var(--spaceCardStackMd);
  }

  :root {
    /* farver */
    --Bg-Primary: #FCFCFC;
    --text-Primary: #212121;

  
  
    /* font */
    --fontFamiliesFontSans: Work Sans;
    --fontFamiliesFontDisplay: Druk;
  
    /* spacing Global */
    --spacing-xs: 4px;
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 32px;
    --spacing-xl: 64px;
    --spacing-2xl: 128px;

    /* font sizes Global*/
    --fontSize-breadcrumbs: 12.8px;
    --fontSize-body: 16px;
    --fontSize-h3: 20px;
    --fontSize-h2: 25px;
    --fontSize-h1: 31.25px;
    --fontSize-Display-secondary: 48.83px;
    --fontSize-Display: 363.8px;

    /* Line height */
    --lineHeights0: AUTO;
    --lineHeightsBase: 1.5;
    --lineHeightsHeading: 1.1;

     /* font weight */
     --super: 700;
     --semibold: 500;
     --regular: 300;
  
    }

  /*Typography token*/
  .Display {
    font-family: var(--fontFamiliesFontDisplay);
    font-weight: var(--super);
    font-size: var(--fontSize-Display);
    line-height: var(--lineHeightsHeading);

}
.Typography_Display_secondary {
    font-family: var(--fontFamiliesFontDisplay);
    font-weight: var(--semibold);
    font-size: var(--fontSize-Display-secondary);
    line-height: var(--lineHeightsHeading);
}

.Typography_h1 {
    font-family: var(--fontFamiliesFontSans);
    font-size: var(--fontSize-h1);
    line-height: var(--lineHeightsHeading);
    font-weight: var(--semibold);

}

.Typography_h2 {
    font-family: var(--fontFamiliesFontSans);
    font-size: var(--fontSize-h2);
    line-height: var(--lineHeightsHeading);
    font-weight: var(--semibold);
}
.Typography_h3 {
    font-family: var(--fontFamiliesFontSans);
    font-size: var(--fontSize-h3);
    line-height: var(--lineHeightsHeading);
    font-weight: var(--semibold);
}

.Typography_body_primary {
    font-family: var(--fontFamiliesFontSans);
    font-size: var(--fontSize-body);
    line-height: var(--lineHeightsBase);
    font-weight: var(--regular);
}

.Typography_body_secondary {
    font-family: var(--fontFamiliesFontSans);
    font-size: var(--fontSize-body);
    line-height: var(--lineHeightsBase);
    font-weight: var(--regular);
}

.Typography_button {
    font-family: var(--fontFamiliesFontSans);
    font-size: var(--fontSize-body);
    line-height: var(--lineHeightsBase);
    font-weight: var(--regular);
}

.Typography_navigation {
    font-family: var(--fontFamiliesFontSans);
    font-size: var(--fontSize-body);
    line-height: var(--lineHeightsBase);
    font-weight: var(--regular);
}

.Typography_breadcrumbs {
    font-family: var(--fontFamiliesFontSans);
    font-size: var(--fontSize-breadcrumbs);
    line-height: var(--lineHeightsBase);
    font-weight: var(--regular);
}

/*STYLING AF CARDS*/

.cardcontainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  max-width: 2000px;
  margin: 0 auto;
  cursor: pointer;
  
  }
  
.cardcontainer article:hover {
    border: solid 1px black;
  }

.cardcontainer article .indhold {
  margin-right: 16px;
  margin-left: 16px;
}

.cardcontainer article .title {
  margin-top: 16px;
  margin-bottom: 0px;
}

.cardcontainer article .pris {
  margin-top: 8px;
  margin-bottom: 8px;
}

.circle {
  width: 16px; 
  height: 16px;
  background-color: black;
  border-radius: 50%;
  margin-top: 0px;
  margin-bottom: 16px;
}
  .banner {
    background-color: #313030;
    position: relative;
    padding-block: 64px;
    padding-inline: 256px;
}

/* Importér fonten i din CSS-fil */
@font-face {
  font-family: 'Druk'; /* Erstat med det ønskede navn */
  src: url('sti/til/din/font.woff2') format('woff2'), /* Tilføj alle nødvendige formater */
       url('sti/til/din/font.woff') format('woff');
  /* Gentag dette for andre formater, hvis nødvendigt */
}

/* Brug din font på ønskede elementer */
body {
  font-family: 'Druk', sans-serif;
}



/*STYLING AF HEADER*/

/* Header Styling */
.site-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: solid 1px grey;
  width: 100%;
}

/* Branding Styling */
.site-branding img {
  max-width: 100%;
  height: auto;
}

/* Navigation Styling */
.main-navigation {
  display: flex;
  align-items: center;
}

.nav-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-menu li {
  margin-right: 20px;
}

.nav-menu a {
  text-decoration: none;
  color: #333; /* Tilpas farven efter behov */
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px; /* Tilpas størrelsen efter behov */
}

/* Header Icons Styling */
.header-icons img {
  max-width: 30px; /* Tilpas størrelsen efter behov */
  margin-left: 20px;
}

/* Responsivitet */
@media screen and (max-width: 768px) {
  .site-header {
    flex-direction: column;
    text-align: center;
  }

  .main-navigation {
    margin-top: 20px;
  }

  .nav-menu {
    flex-direction: column;
  }

  .nav-menu li {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .header-icons img {
    margin-left: 0;
    margin-top: 10px;
  }
}




