/*
Theme Name: Rotate Theme
Template: astra
Author: Caroline og Helena
Version: 1.0.0
Description: Stylish Child Theme based on Astra
*/
body {
  background-color: #ffffff !important;
  max-width: 2000px !important;
}
@font-face {
  font-family: "drunk";
  src: url("fonts/Druk-Bold-Trial.otf") format("otf"),
    url("fonts/Druk-Super-Trial.otf") format("oft");
  /* Add more src lines if you have different font file formats */
  font-weight: bold;
  font-style: normal;
}
.card {
  font-family: var(--fontFamiliesFontSans);
  cursor: pointer;
}

.card img {
  width: 100%;
  height: auto;
}

.card body_primary {
  margin-top: var(--spaceCardStackMd);
  margin-bottom: var(--spaceCardStackNone);
  font-size: var(--body_primary);
}

.card body_secondary {
  margin-top: var(--spaceCardStackSm);
  margin-bottom: var(--spaceCardStackMd);
  font-size: var(--body_secondary);
}

.card color {
  margin-top: var(--spaceCardStackSm);
  margin-bottom: var(--spaceCardStackMd);
}

:root {
  /* farver */
  --Bg-Primary: #fcfcfc;
  --text-Primary: #212121;

  /* font */
  --fontFamiliesFontSans: Work Sans;
  --fontFamiliesFontDisplay: Druk;

  /* spacing Global */
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 32px;
  --spacing-xl: 64px;
  --spacing-2xl: 128px;

  /* font sizes Global*/
  --fontSize-navigation: 12.8px;
  --fontSize-body: 12.8px;
  --fontSize-h3: 20px;
  --fontSize-h2: 25px;
  --fontSize-h1: 31.25px;
  --fontSize-Display-secondary: 48.83px;
  --fontSize-Display: 363.8px;

  /* Line height */
  --lineHeights0: AUTO;
  --lineHeightsBase: 1.5;
  --lineHeightsHeading: 1.1;

  /* font weight */
  --super: 700;
  --semibold: 500;
  --regular: 300;
}

/*Typography token*/
.Display {
  font-family: var(--fontFamiliesFontDisplay);
  font-weight: var(--super);
  font-size: var(--fontSize-Display);
  line-height: var(--lineHeightsHeading);
}
.Typography_Display_secondary {
  font-family: var(--fontFamiliesFontDisplay);
  font-weight: var(--semibold);
  font-size: var(--fontSize-Display-secondary);
  line-height: var(--lineHeightsHeading);
}

.Typography_h1 {
  font-family: var(--fontFamiliesFontSans);
  font-size: var(--fontSize-h1);
  line-height: var(--lineHeightsHeading);
  font-weight: var(--semibold);
}

.Typography_h2 {
  font-family: var(--fontFamiliesFontSans);
  font-size: var(--fontSize-h2);
  line-height: var(--lineHeightsHeading);
  font-weight: var(--semibold);
}
.Typography_h3 {
  font-family: var(--fontFamiliesFontSans);
  font-size: var(--fontSize-h3);
  line-height: var(--lineHeightsHeading);
  font-weight: var(--semibold);
}

.Typography_body_primary {
  font-family: var(--fontFamiliesFontSans);
  font-size: var(--fontSize-body);
  line-height: var(--lineHeightsBase);
  font-weight: var(--regular);
}

.Typography_body_secondary {
  font-family: var(--fontFamiliesFontSans);
  font-size: var(--fontSize-body);
  line-height: var(--lineHeightsBase);
  font-weight: var(--regular);
}

.Typography_button {
  font-family: var(--fontFamiliesFontSans);
  font-size: var(--fontSize-body);
  line-height: var(--lineHeightsBase);
  font-weight: var(--regular);
}

.Typography_navigation {
  font-family: var(--fontFamiliesFontSans);
  font-size: var(--fontSize-body);
  line-height: var(--lineHeightsBase);
  font-weight: var(--regular);
}

.Typography_breadcrumbs {
  font-family: var(--fontFamiliesFontSans);
  font-size: var(--fontSize-breadcrumbs);
  line-height: var(--lineHeightsBase);
  font-weight: var(--regular);
}

/*STYLING AF CARDS*/

.cardcontainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  max-width: 2000px;
  margin: 0 auto;
  cursor: pointer;
  margin-top: 64px;
}

.cardcontainer article:hover {
  border: solid 1px black;
}

.cardcontainer article .indhold {
  margin-right: 16px;
  margin-left: 16px;
  font-size: var(--fontSize-body);
}

.cardcontainer article .title {
  margin-top: 16px;
  margin-bottom: 0px;
}

.cardcontainer article .pris {
  margin-top: 8px;
  margin-bottom: 8px;
  font-weight: bold;
}

.circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-top: 0px;
  margin-bottom: 16px;
  border: solid 1px black;
}
.banner {
  background-color: #212121;
  position: relative;
  padding-block: 64px;
  padding-inline: 256px;
}
.banner2 {
  background-color: #dbdbd9;
  position: relative;
  padding-block: 64px;
  padding-inline: 256px;
}

/*STYLING AF HEADER*/

/* Header Styling */
.site-header {
  width: 100%;
  height: 50px;
  font-weight: bold;
  position: -webkit-sticky !important;
  position: sticky;
  top: 25;
}

/* Branding Styling */
.site-branding img {
  max-width: 100%;
  height: auto;
  width: 150px;
}

.site-branding {
  display: flex;
  align-items: center;
  gap: 32px;
}

/* Navigation Styling */
.main-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.nav-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-left: auto;
  gap: 32px;
}

.nav-menu a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  cursor: pointer;
}

/* Header Icons Styling */
.header-icons {
  display: flex;
  align-items: center;
}

.header-icons div {
  margin-right: 10px;
}

.header-icons img {
  max-width: 24px; /* Tilpas størrelsen efter behov */
}

/* Responsivitet */
@media screen and (max-width: 768px) {
  .site-header {
    padding: 10px;
  }

  .nav-menu {
    flex-direction: column;
    margin-left: 0;
  }

  .nav-menu li {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .header-icons {
    margin-top: 10px;
  }
}

/*SEKUNDÆR HEADER*/
/* Generel styling for hovednav og ikoner */
.site-header,
.site-header-secondary {
  background-color: var(--Bg-Primary);
  border-bottom: solid 1px lightgray;
  padding: 0px 0px;
}

.site-branding img {
  max-width: 100%;
  height: auto;
}

.header-icons div {
  margin-right: 10px;
}

.header-icons img {
  max-width: 30px;
}

/* ALT STYLING TIL DEN SEKUNDÆRE MENU */

.menu-link {
  position: static;
}

.main-header-menu {
  position: static !important;
  font-size: var(--fontSize-navigation);
}

.main-navigation {
  position: static;
}

#menu-item-68,
#menu-item-69,
#menu-item-294,
#menu-item-71 {
  position: static;
}

/*styling af submenuen*/
#menu-item-68 .sub-menu,
#menu-item-69 .sub-menu,
#menu-item-294 .sub-menu,
#menu-item-71 .sub-menu {
  display: flex;
  flex-direction: row; /* Vis undermenuen som en kolonne */
  background-color: var(--Bg-Primary);
  position: absolute;
  gap: 8px;
  left: 0; /* Placer menuen helt til venstre */
  width: 100vw; /* Gør bredden lig med parent containerens bredde */
  z-index: 1; /* Sørg for, at menuen vises over andre elementer, om nødvendigt */
  top: 100%; /* Placer menuen under hovedmenuen */
  margin-left: 0;
  height: 60px;
  font-weight: 400;
  color: #313030;
}

/*styling af det første ord i sub menu*/
#menu-item-510,
#menu-item-509,
#menu-item-478,
#menu-item-502 {
  font-weight: bold;
  color: #212121;
  margin-right: 16px;
}

.sub-menu li:hover {
  text-decoration: solid 1px black underline;
}

.ast-builder-grid-row {
  height: 60px !important;
}
.main-header-bar {
  background-color: var(--Bg-Primary);
}

/* SINGLE VIEW STYLING */

.single-view {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 64px;
  margin-right: 64px;
  margin-left: 64px;
}

.size_flexbox_1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 12.8px;
}
.size_flexbox_2 {
  display: flex;
  flex-direction: row;
  gap: 32px;
  cursor: pointer;
  flex-flow: row wrap;
}

.size-button:hover {
  border: 1px solid black;
  padding-right: 6px;
  padding-left: 6px;
}
.size-button {
  border-radius: 50%;
  border: 1px solid transparent;
  padding-right: 6px;
  padding-left: 6px;
}
.active-size {
  border: 1px solid black;
  padding-right: 6px;
  padding-left: 6px;
}

.circle_singleview {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-top: 0px;
  margin-bottom: 48px;
  border: solid 1px black;
}
.container_2 .title {
  margin-top: 32px;
  font-size: 25px; /* Vi skal have variabler på i stedet */
  font-weight: bold; /* Vi skal have variabler på i stedet */
}

.container_2 .pris {
  margin-top: 8px;
  font-size: 20px; /* Vi skal have variabler på i stedet */
}

.lige-streg {
  width: 100%; /* Bredden af stregen */
  height: 1px; /* Højden af stregen */
  background-color: lightgray; /* Farven af stregen */
  margin-top: 16px;
  margin-bottom: 16px;
}

.container_2 .farve {
  margin-top: 8px;
  margin-bottom: 0px;
  font-size: 16px; /* Vi skal have variabler på i stedet */
}

.size_flexbox_1 .guide {
  font-weight: bold;
  text-decoration: underline 1px solid black;
}
.button_box button {
  width: 100%;
  padding-top: 16px !important;
  padding-bottom: 16px !important;
  margin-bottom: 32px;
}

.details {
  text-decoration: underline 1px solid black;
  margin-bottom: 16px;
  font-size: 12.8px;
}

.shipping {
  text-decoration: underline 1px solid black;
  margin-bottom: 16px;
  font-size: 12.8px;
}

/* Slideshow container */
.slideshow-container {
  max-width: 800px;
  position: relative;
  margin: auto;
}

/* gem billeder som en default */
.mySlides {
  display: none;
}

/* Next & previous knapper */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* når vihover, tilsæt en  black background color, som er lidt gennemsigtig */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: #f2f2f2;
}

/* Nummer text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.responsive-svg {
  width: 100%;
  height: auto;
  max-width: 100%;
}
@media screen and (max-width: 768px) {
  .responsive-svg {
    min-width: 180px;
  }
}

/* footer */

.custom-footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 4fr));
  grid-gap: 20px;
  padding: 20px;
  justify-content: space-between;
  border-top: 0.5px solid #313030;
}

.footer-column {
  flex: 1;
  margin-bottom: 20px;
}

.footer-list {
  list-style-type: none;
  padding: 0;
  text-decoration: none;
}

.footer-list li {
  padding: 5px 0;
  text-decoration: none;
}

/* Styles for  sign-up form */

.footer-newsletter-signup h3 {
  margin-bottom: 10px;
}

.footer-newsletter-signup form {
  display: flex;
  flex-direction: column;
}

.footer-newsletter-signup label {
  margin-bottom: 10px;
}

.footer-newsletter-signup input[type="email"] {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
ul {
  margin: 0;
}
.footer-newsletter-signup .submit-button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: black;
  color: white;
  cursor: pointer;
  font-family: var(--fontFamiliesFontSans);
  font-size: var(--fontSize-body);
  line-height: var(--lineHeightsBase);
  font-weight: var(--regular);
}

.footer-newsletter-signup .submit-button:hover {
  background-color: #333;
}
.logo-bund {
  display: grid;
  place-items: center;
  max-width: 100%;
}

.logo-bund img {
  min-width: 100%;
}

.social-link {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
  max-width: 30px;
}

@media (max-width: 768px) {
  .custom-footer-container {
    grid-template-columns: 1fr;
    justify-content: center;
    align-content: center;
  }

  .banner {
    padding-inline: 20px;
  }
  .banner2 {
    padding-inline: 20px;
  }

  .cardcontainer {
    grid-template-columns: repeat(2, 1fr);
  }

  .single-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    grid-gap: 0;
  }

  .slideshow-container img {
    max-width: 70%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
}

.fixed-header {
  background-image: url("pictures/top.svg");
  min-height: 230px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: contain;
}

.ast-container {
  position: relative;
  background-color: #fff;
  max-width: 2000px !important;
}

@media (min-width: 1500px) {
  .fixed-header {
    min-height: 290px;
  }
}

@media (max-width: 768px) {
  .fixed-header {
    display: none;
  }
}

/* ADD TO CART STYLING */

.add_to_cart {
  position: absolute;
  top: 0;
  left: 100%;
  width: 500px;
  background-color: white;
  height: 100vh;
  transition: 0.5s;
}

.cart_pic {
  height: 250px;
}

.active_add_to_cart {
  left: calc(100% - 500px);
  z-index: 9999;
  padding: 16px;
}

.shadow_overlay {
  height: 100vh;
  width: 100vw;
  position: absolute;
  background: #3333336b;
  top: 0;
  display: none;
}

.active_shadow_overlay {
  display: inline;
}

.add_indhold {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}

.closeShopping {
  color: black;
  border: 1px solid black;
  background: white;
  width: 100%;
  margin-top: 16px;
}

.checkOutButton {
  border: 1px solid black;
  width: 100%;
  margin-top: 16px;
}

.terms_and_conditions {
  font-size: 10px;
  color: #717171;
  margin-top: 16px;
}






/* TEST */
@media only screen and (max-width: 600px) {
 .single-view {
  width: 100vw;
  
 }

  .button_add_to_cart {
      width: 100%;
  }

  .active.add_to_cart {
      width: 100%;
      height: 100%;;
      top: 0;
      left: 0;
      background-color: white;
      z-index: 1;
      overflow: auto;
      padding-top: 60px;
  }

  .container_2 {
    max-width: 100vw;
    padding: 16px;
  }

  .active_add_to_cart {
    left: calc(100% - 100vw);
    z-index: 9999;
    padding: 16px;
    max-width: 100vw;

}

.cart_responsiv {
  height: 100vh;
  width: 100vw;
}

#ast-mobile-header {
  max-height: 100vh;
  width: 100vw;
    position: fixed;
    top: 0;
    z-index: 5;
}

.ast-builder-grid-row {
   height: fit-content !important; 
}

/* burgermenu */
.page-item-458 {
  display: none;
}
.page_item .page-item-468 .menu-item {
  display: none;
}

#button_world {
  width: 100%;
}

.page_item.page-item-44 {
  display: none;
}

}


